.meta
	.meta-item
		a(href="#"
		  data-toggle="tooltip"
		  data-placement="bottom"
		  title="Post's author").meta-author TavillaThemes
	.meta-item
		a(href="#"
		  data-toggle="tooltip"
		  data-placement="bottom"
		  title="Posted at 19:56").meta-time 18 March 2016
	.meta-item
		a(href="#").meta-comments 6 Comments